{% assign _conflicting_entries = site.entries 
    | where:"slug",page.slug 
    | where_exp:"entry","entry != page" 
    | sort:"url"
    %}

{% if _conflicting_entries.size > 0 %}
<div class="well tint-light">
  <input type="checkbox" id="disambiguation" class="toggle">
  <label for="disambiguation">Disambiguation <i class="material-icons"></i></label>
  <div class="toggle-content">
  {% for _conflicting_entry in _conflicting_entries %}
    <div>
      <a href="{{ site.baseurl }}{{ _conflicting_entry.url }}" class="more">
        {{ _conflicting_entry.title }}</a>
      {% include fn-entry-parents.jk entry=_conflicting_entry %}
      {% if result.size > 0 %}
        ({{ result | map:"title" | join:'/' }})
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
