<header class="site-header">
  <div class="large-container layout-row">
    <a class="header-logo flex layout-row" href="{{ site.baseurl }}/">
      <amp-img height="48" width="48" src="{{ site.baseurl }}/assets/images/david.jpg"></amp-img>
      <span class="hidden-phone">David Rodenas</span>
    </a>

    <nav class="header-links">
      <a class="header-link" href="{{ site.baseurl }}/">Home</a>
      · <a class="header-link" href="{{ site.baseurl }}/links">Links</a>
      · <a class="header-link" href="{{ site.baseurl }}/contact">Contact</a>
    </nav>
  </div>
</header>
