{% assign _tags = include.tags %}

{% unless _tags %}{% assign _tags = page.tags %}{% endunless %}

{% assign _tag_definitions = '' | split:'' %}
{% for _tag in _tags %}
  {% assign _tag_definition = site.entries | where:"defines",_tag | first %}
  {% if _tag_definition %}
    {% assign _tag_definitions = _tag_definitions | push:_tag_definition %}
  {% endif %}
{% endfor %}

{% if _tag_definitions.size > 0 %}
<p class="tags">
Tags:
{% for _tag_definition in _tag_definitions %}
<a href="{{ site.baseurl }}{{ _tag_definition.url }}">{{ _tag_definition.slug }}</a>{% unless forloop.last %},{% endunless %}
{% endfor %}
</p>
{% endif %}

