.layout-row {
  display: flex;
}
.layout-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

@for $i from 1 through 4 {
  .flex-#{$i} {
    flex: #{$i};
    min-width: 0;
  }
}

@media (max-width: $mobile-max) {
  @for $i from 1 through 4 {
    .flex-m-#{$i} {
      flex: #{$i};
      min-width: 0;
    }
  }
}

@for $i from -1 through 5 {
  .order-#{$i} {
    order: #{$i};
  }
}
@media (max-width: $mobile-max) {
  @for $i from -1 through 5 {
    .order-m-#{$i} {
      order: #{$i};
    }
  }
}

.gap {
  width: 1em;
}
