.layout-row {
  display: flex;
  flex-wrap: wrap;
}
.layout-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: $mobile-max) {
  .layout-m-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.justify-center {
  justify-content: center;
}

@for $i from 1 through 4 {
  .flex-#{$i} {
    flex: #{$i};
    min-width: 0;
  }
}

@media (max-width: $mobile-max) {
  @for $i from 1 through 4 {
    .flex-m-#{$i} {
      flex: #{$i};
      min-width: 0;
    }
  }
}

@for $i from -1 through 5 {
  .order-#{$i} {
    order: #{$i};
  }
}
@media (max-width: $mobile-max) {
  @for $i from -1 through 5 {
    .order-m-#{$i} {
      order: #{$i};
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 percentage($i / 12);
    min-width: 0;
  }
}

@media (max-width: $mobile-max) {
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      flex: 0 0 percentage($i / 12);
      min-width: 0;
    }
  }
}

.gap {
  width: 1em;
}

.overflow-hidden {
  overflow: hidden;
}
