body > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
body {
  padding-top: 56px
}


body > header .material-icons {
  display: inline;
  vertical-align: middle;
  line-height: 56px;
}
