.tint-dark {
  background: $primary-dark;
  color: $text-white-primary;
}

.tint-light {
  background: $primary-light;
}

.tint-lighter {
  background: $primary-light;
}

.tint-white {
  background: $primary-light;
}

.tint-gray {
  background: gray;
}
